<main class="home">
  <h2 class="home__heading">Hello {{ userName$ | async }}!!!</h2>
  <form class="home__form" [formGroup]="helloForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Your name</mat-label>
      <input matInput 
        placeholder="Type your name"
        required
        formControlName="userName"
      />
      <mat-error>
        <span class="home__form-error" *ngIf="helloForm.controls.userName.hasError('required')">The name field is required</span>
        <span class="home__form-error" *ngIf="helloForm.controls.userName.hasError('maxlength')">The name max length can't be more than 30</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</main>
